[Unit]
Description=Bluehost Deployment Proxy service
After=network.target

[Service]
User=root
Group=root
EnvironmentFile=/etc/default/dproxy
RuntimeDirectory=dproxy
WorkingDirectory=/opt/deployment/proxy
ExecStart=/usr/local/bin/dproxy
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
